nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: 32px auto 0;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
}

.nav-list {
    display: flex;
    gap: 34px;
    padding: 0;
}

.nav-list li {
    font-size: 13px;
    font-weight: 700;
    line-height: 25px; /* 192.308% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-logo {
    display: block;
    background-image: url("../assets/shared/desktop/logo.svg");
    background-repeat: no-repeat;
    background-size: 143px 25px;
    width: 143px;
    height: 25px
}

.cart-icon {
    display: block;
    background-image: url("../assets/shared/desktop/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 23px 20px;
    width: 23px;
    height: 20px;
}